.card-lg{
    margin-bottom: 79.5px;
    @media screen and (max-width: $mobile-break){
        margin-bottom: 0;
        background: #000;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 22px;
    }

    a.card{
        height:515px;

        &:after{
            content: '';
            opacity: 0.4;
            background-color: #000;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }



        position: relative;
        overflow:hidden;
        // height: 517px;
        @media screen and (max-width: $mmd-break){
            height: auto;
        }

        > article > figure{
            position: absolute;
            left: 0;
            top: 0;
            height:100%;
            width: 100%;

            @media screen and (max-width: $mobile-break){
                display: none;
            }

            > img{
                max-width: 100%;
            }
        }

        > article > .content{
            display:block;
            padding: 110px 24px 0 24px;
            margin-bottom: 10px;
            z-index: 100;
            position: relative;
            color: #FFF;

            @media screen and (max-width: $mobile-break){
                padding: 0;
            }

            > .category{
                font-size: em(14);
                font-weight: bold;
                color: #fff;
                display: block;
                line-height: 1;
                margin-bottom: 3px;

                @media screen and (max-width: $mobile-break){
                    color: #8a8b93;
                    font-family: $font-family-sans-serif;
                    font-size: em(12);
                    margin-bottom:15px;
                    text-transform:uppercase;
                }
            }

            > p {
                height: 150px;
                @media screen and (max-width: $mobile-break){
                    display: none;
                }
            }

            > h2{
                font-weight: bold;
                font-size: em(40);
                padding-top: 15px;
                height: 160px;

                @media screen and (max-width: $md-break){
                    height: 310px;
                }
                
                @media screen and (max-width: $mmd-break){
                    height: auto;
                }

                @media screen and (max-width: $mobile-break){
                    font-size: em(20);
                    height: 60px;;
                    padding-top: 0;
                    border: 0;
                }

            }

            > .author{
                @include clearfix;
                border-top: 1px solid #dadada;
                padding-top:15px;

                @media screen and (max-width: $mobile-break){
                    display: none;
                }
                p{
                    color: #FFF;
                }
            }

            > time{
                color: #FFF;
                padding-top: 15px;
                margin-top: 10px;

                @media screen and (max-width: $mobile-break){
                    float: none;
                    border: 0;
                    padding: 0;
                    font-size: em(10);
                }
            }
        }

        &.social {
            .content {
                // .category {
                //     margin-top:0;
                //     margin-bottom:8px;
                // }
        
                > p {
                    display:block;
                    font-size: em(18);
                    height: 280px;
                    margin-top:40px;

                    @media screen and (max-width: $mobile-break){
                        height:auto;
                    }

                }
            }

            // &.without__image {

            //     .content {
            //         height:100%;

            //         > p {
            //             height: 182px;
            //             margin-bottom:52px;

            //             @media screen and (max-width: $mobile-break){
            //                 height:auto;
            //             }
            //         }
            //     }
            // }

        }


        &.youtube{
            .content{
                p{
                }
            }
        }


    }
}