.card-rec{
    margin-bottom: 79.5px;
    position:relative;
    @media screen and (max-width: $mobile-break){
        margin-bottom: -2px;
    }

    &.inverted{
        @media screen and (min-width: $mobile-break){
            > a.card{
                background-color: #000;
                color: #FFF;
                
                > article { 
                    -ms-flex-direction: row-reverse;
                    -webkit-flex-direction: row-reverse;
                    flex-direction: row-reverse;
                }

                > article > .content{
                    border: 1px solid #000;

                    > .category{
                        color: #27aae1;
                    }

                    > .author p{
                        color: #FFF;
                    }

                    > time{
                        color: #FFF;
                    }
                    > p {
                        // display: none;
                    }
                }
                &.social {
                    .content {

                        .author {
                            color:white;
                        }
                    }
                }
            }
        }
    }

    a.card {

        @media screen and (max-width: $mobile-break){
            margin-left: -15px;
            margin-right: -15px;
            border-top: 2px solid #7e8084;
            border-bottom: 2px solid #7e8084;
            > article {
                height: auto !important;
            }
        }
        > article {
            @extend %flexbox;
            height: 235px;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
        }
        > article > figure{
            width: 330px;
            -ms-flex: 0 0 330px;
            -webkit-flex: 0 0 330px;
            flex: 0 0 330px;
            overflow: hidden;
            float: left;

            @media screen and (max-width: $mobile-break){
                width: 116px;
                height: 116px;
                flex: 0 0 116px;

            }

            &.video {

                &:after{
                    top: 40%;
                    left: 40%;

                    @media screen and (max-width: $md-break){
                        top: 40%;
                        left: 35%;
                        width: 40px;
                        height: 40px;
                    }

                    @media screen and (max-width: $mobile-break){
                        width: 30px;
                        height: 30px;
                    }
                }

            }




            > img{
                // max-width: 100%;
            }

        }

        > article > .content{
            display: block;
            width:100%;
            border: 1px solid #dadada;
            padding: 29px 24px 3px 24px;
            // -ms-flex: 1 0;
            // -webkit-flex: 1 0;
            // flex: 1 0;

            @media screen and (max-width: $mobile-break){
                border: 0;
                padding: 10px;
            }

            > .category{
                font-size: em(14);
                font-weight: bold;
                color: #8a8b93;
                display: block;
                line-height: 1;
                margin-bottom: 11px;

                @media screen and (max-width: $mobile-break){
                    font-size: em(12);
                    margin-bottom: 5px;
                    text-transform:uppercase;
                }
            }

            > h2{
                font-weight: bold;
                font-size: em(30);
                height: 70px;
                @media screen and (max-width: $mobile-break){
                    font-size: em(20);
                    height: auto;
                    border: 0;
                }
            }
            
            > p {
                height: 50px;
                border-bottom: 1px solid #dadada;

                @media screen and (max-width: $mobile-break){
                    display:none;
                }
            }

            > .author{

                > p {
                    @media screen and (max-width: $sm-break){
                        font-size: em(15);
                    }
                }

                @media screen and (max-width: $mobile-break){
                    display: none;
                }
            }

            > time{

                @media screen and (min-width: $mobile-break) and (max-width: 720px){
                    display:none;
                }

                @media screen and (max-width: $mobile-break){
                    float: left;
                    border: 0;
                    padding: 0;
                    font-size: em(10);
                }
            }
        }

        &.social {
            .content {
                .category {
                    // margin-bottom:21px;
                }
        
                > p {
                    display:block;
                    font-size: em(24);
                    height:127px;
                    padding-bottom:27px;
                    
                    @media screen and (max-width: $mobile-break){
                        padding:0;
                        height:58px;
                    }





                }
                .author {

                }
            }
            &.without__content {
                figure {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height:100%;

                    &:after{
                        content: '';
                        opacity: 0.4;
                        background-color: #000;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }



                }
                .content {
                    z-index: 1;
                    .category {
                        color:white;
                        margin-bottom:21px;
                    }
                    time {
                        color:white;
                    }
                    // > p {
                    //     display: none;
                    // }
                    .author {
                        > p {
                            color:white;
                        }
                    }
                }
            }
        }

        

        &.youtube{
            .content{
                p{
                }
            }
        }
        &.facebook{
            .content{
                p{
                }
            }
        }
        &.pinterest{
            .content{
                p{
                }
            }
        }
        &.vimeo{
            .content{
                p{
                }
            }
        }

        &.twitter{
            .content{
                p{
                    
                }
            }
        }

        &.instagram{
            .content{
                p{
                }
            }
        }
    }
}