.card-sm{
    
    margin-bottom: 79.5px;
    @media screen and (max-width: $sm-break){
        margin-bottom: -2px;
    }





    &.advert {
        a.card {
            margin-left: -35px;
            background: #0082c9;

            @media screen and (max-width: $md-break){
                margin-left:0;
            }

            @media screen and (max-width: $sm-break){
                margin-left:-15px;
            }



            > article {
                @media screen and (max-width: $mmd-break){
                    display:-webkit-box;
                    display:-webkit-flex;
                    display:-moz-flex;
                    display:-ms-flexbox;
                    display:flex;
                    height: 235px;
                    flex-wrap: nowrap;
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                }
                @media screen and (max-width: $sm-break){
                    display:block;
                    height:auto !important;
                }


                figure {
                    height:312px;

                    @media screen and (max-width: $mmd-break){
                        width: 330px;
                        height:235px;
                        -ms-flex: 0 0 330px;
                        -webkit-flex: 0 0 330px;
                        flex: 0 0 330px;
                        overflow: hidden;
                        float: left;
                    }

                    @media screen and (max-width: $sm-break){
                        height:116px;
                        width:116px;
                    }    

                    > img {
                        object-fit:fill;
                    }       
                }
            
               > .content {
                    border:none;
                    display:block;
                    @media screen and (max-width: $sm-break){
                        padding-left:126px;
                        height:116px;
                    }

                    > h2 {
                        margin-top:12px;
                        font-size: em(24);
                        font-weight:600;
                        color:white;
                        padding-bottom:15px;
                        border-bottom: solid 1px #dadada;
                    
                        @media screen and (max-width: $mmd-break){
                            font-size: em(28);
                            margin: 50px 0 0 0;
                            min-height:110px;
                            padding-bottom:30px;
                        }
                        @media screen and (max-width: $sm-break){
                            margin: 12px 0 0 0;
                            min-height:auto;
                            padding-bottom:15px;
                        }

                    }
                }  
            }

        }
    }

    &.inverted{
        @media screen and (min-width: $sm-break){
            > a.card{
                background-color: #000;
                color: #FFF;
                
                > article { 
                    -ms-flex-direction: row-reverse;
                    -webkit-flex-direction: row-reverse;
                    flex-direction: row-reverse;
                }

                > article > .content{
                    border: 1px solid #000;
                        > .category{
                            color: #27aae1;
                        }

                        > .author p{
                            color: #FFF;
                        }

                        > time{
                            color: #FFF;
                        }
                        > p {
                            display: none;
                        }
                }
            }
        }
    }


    a.card{

        height:100%;

        @media screen and (max-width: $sm-break){
            height: 115px;
            margin-left: -15px;
            margin-right: -15px;
            border-top: 2px solid #dadada;
            border-bottom: 2px solid #dadada;
            height: auto;
            
            > article {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;

                flex-wrap: nowrap;
                -webkit-flex-wrap: nowrap;
            }    
        }

        > article > figure{
            width: auto;
            overflow: hidden;
            height:208px;
            @media screen and (max-width: $sm-break){
                width: 116px;
                height:116px;
                flex: 0 0 116px;
            }

            &.video {

                &:after{
                    top: 35%;
                    left: 40%;
                    
                    @media screen and (max-width: $md-break){
                        top: 40%;
                        left: 35%;
                        width: 40px;
                        height: 40px;
                    }

                    @media screen and (max-width: $sm-break){
                        width: 30px;
                        height: 30px;
                    }
                }

            }






            > img{
                max-width: 100%;
            }
        }

        > article > .content{
            position:relative;
            height: 125px;
            border: 1px solid #dadada;
            padding: 13px 15px 8px 15px;
            @media screen and (max-width: $sm-break){
                height: auto;
                padding: 10px;
                border: 0;
                width:100%;
            }

            > .category{
                font-size: em(14);
                font-weight: bold;
                color: #8a8b93;
                display: block;
                line-height: 1;
                margin-bottom: 8px;
                @media screen and (max-width: $sm-break){
                    font-size: em(12);
                    text-transform:uppercase;
                    margin-bottom: 5px;
                }
            }

            > h2{
                font-weight: normal;
                font-size: em(20);

                @media screen and (max-width: $sm-break){
                    font-size: em(20);
                }
            }

            > .author{
                display: none;
            }

            > time{
                // position:absolute;
                // bottom:5px;
                // float: none;
                padding: 0;
                border: 0;
                color: #f73d30;
                @media screen and (max-width: $sm-break){
                    color: #6c6c6c;
                    font-size: em(10);
                }
            }

            p {
                display: none;
            }
        }


        &.without__image {

            .content {
                height:333px;

                > h2 {
                    margin-top: 60px;
                    font-size: 30px;
                    height: 190px;
                }
            }
        }



        &.social {
            .content {
                .category {
                    margin-top:0;
                    margin-bottom:8px;
                }
        
                > p {
                    display:block;

                    // display: block;
                    // // background:rgba(20, 200, 100, .1);
                    font-size: em(18);
                    // height:117px;
                    // padding-bottom:27px;
                }
                .author {

                }
            }

            &.without__image {

                .content {
                    height:100%;

                    > p {
                        height: 225px;
                        margin-bottom:52px;

                        @media screen and (max-width: $sm-break){
                            height:auto;
                        }
                    }
                }
            }



        }

        &.youtube{
            .content{
                p{
                }
            }
        }
      

        
    }
}