.room-sports{
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 65px;

    @media screen and (max-width: $mmd-break){
        margin-bottom: 40px;
        border-bottom: 0;
    }

    > header{
        margin-bottom: 20px;

        @media screen and (max-width: $sm-mobile-break){
            width:205px;
        }    
    }

    > .articles{

        > div > div {
            &:last-child{
                article {
                    border-right: 0;
                }                
            }
        }



        article{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            border-right: 2px solid #d4d4d4;
            margin-bottom: 22px;

            @media screen and (max-width: $md-break){
                flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
            }

            @media screen and (max-width: $mmd-break){
                flex-wrap: nowrap;
                -webkit-flex-wrap: nowrap;
                border-right: 0;
                border-bottom: 1px solid #d4d4d4;
                padding-bottom: 13px;
            }

            > figure{
                width: 203px;
                -ms-flex: 0 0 203px;
                -webkit-flex: 0 0 203px;
                flex: 0 0 203px;
                @media screen and (max-width: $md-break){
                    margin-bottom: 5px;
                }

                @media screen and (max-width: $mobile-break){
                    width: 105px;
                    flex: 0 0 105px;
                }
            }

            > .content{
                padding-left: 23px;
                color: #000;
                -webkit-flex: 1 0;
                -ms-flex: 1 0;
                flex: 1 0;

                .category{
                    font-size: em(14);
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #8a8b93;
                    display: block;
                    line-height: 1;

                    @media screen and (max-width: $mobile-break){
                        font-family: $font-family-sans-serif;
                        font-size: em(12);
                        text-transform: uppercase;
                    }
                }

                > p {
                    display:none;
                }

                > .author {
                    display:none;
                }

                > h2{
                    font-size: em(28);
                    font-weight: normal;
                    line-height: 1.02;
                    margin-bottom: 20px;
                    margin-top:21px;
                    height:60px;
                    
                    @media screen and (max-width: $mobile-break){
                        font-size: em(16);
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }

                > time{
                    float:none;
                    border:none;
                    padding:0;
                    // color:$black;
                    font-size: em(14);
                    font-weight: bold;
                    @media screen and (max-width: $mobile-break){
                        font-size: em(9.5);
                    }
                }
            }
            
        }
    }

    > .featured{
        height: 430px;
        margin-bottom: 28px;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: $mobile-break){
            height: auto;
            margin-left: -15px;
            margin-right: -15px;
        }
        &:before{
            content: '';
            width: 20px;
            height: 100%;
            bottom: 0;
            top: 0;
            background: #27aae1;
            position: absolute;
            z-index: 2;
            @media screen and (max-width: $mobile-break){
                display: none;
            }
        }

        > a > article{
            > .content{
                position: absolute;
                z-index: 2;
                width: 470px;
                padding-left: 60px;
                padding-top:80px;
                color: #FFF;
                @media screen and (max-width: $mobile-break){
                    position: relative;
                    width: 100%;
                    color: #000;
                    border-bottom: 1px solid #d4d4d4;
                    padding: 19px 15px;
                }
                .category{
                    font-size: em(14);
                    font-weight: bold;
                    color: #FFF;
                    text-transform: uppercase;
                    @media screen and (max-width: $mobile-break){
                        color: #8a8b93;
                        font-family: $font-family-sans-serif;
                        font-size: em(12);
                        text-transform: upper;
                    }
                }

                > h2{
                    font-size: em(44);
                    font-weight: bold;
                    line-height: 1.02;
                    color: #FFF;
                    margin-bottom: 40px;
                    margin-top: 21px;
                    @media screen and (max-width: $mobile-break){
                        color: #000;
                        font-size: em(22);
                        margin-top: 13px;
                        margin-bottom: 13px;
                    }
                }

                > p{
                    height:75px;
                    font-size: em(20);
                    line-height: 1.25;
                    color: #FFF;
                    margin-bottom: 30px;
                    @media screen and (max-width: $mobile-break){
                        display: none;
                    }
                }

                > .author {
                    display: none;
                }

                > time{
                    padding:0;
                    border:none;
                    float:none;
                    font-size: em(14);
                    font-weight: bold;
                    color: #FFF;
                    @media screen and (max-width: $mobile-break){
                        color: #000;
                    }
                }
            }
            > figure{
                width: 100%;
                height: 430px;
                position: absolute;
                z-index: 1;
                @media screen and (max-width: $mobile-break){
                    position: relative;
                    max-height: 415px;
                    &:before{
                        content: '';
                        width: 10px;
                        height: 100%;
                        bottom: 0;
                        top: 0;
                        background: #27aae1;
                        position: absolute;
                        z-index: 2;
                    }
                }
                
                // @media screen and (min-width:$mobile-break) and (max-width:$mmd-break){
                @media screen and (max-width: $sm-mobile-break){
                    max-height: 260px;
                }

                &:after{
                    position: absolute;
                    background: rgba(0,0,0,0.5);
                    left: 0;
                    top: 0;
                    content: '';
                    width: 100%;
                    height: 430px;
                    @media screen and (max-width: $mobile-break){
                        display: none;
                    }
                }
                > img{
                    max-width: 100%;
                }
            }
        }
    }
}