.sidebar-news{
    // margin-bottom: 100px;
    
    @media screen and (max-width: $mmd-break) {
        display:none;
    }


    header {
        margin-bottom: 15px;
        display: inline-block;
        width: 100%;

        > h3 {
            font-size: em(26);
            font-family: $font-family-sans-serif;
            font-weight: normal;
            float: left;
            margin-top: 5px;
            margin-bottom:0;

            > span {
                font-weight: 700;
            }
        }

        > img{
            float: right;
        }
    }

    a.card{
        margin-bottom: 27px;
        height: 100px;
        width: 100%;
    
        > article {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
        }

        > article > figure{
            width: 100px;
            height:100px;
            flex: 0 0 100px;
            overflow: hidden;
            float: left;
            margin-right: 19px;

            > img{
                max-width: 100%;
            }
        }

        > article .content{
            border-bottom: 1px solid #dadada;
            padding-bottom: 3px;
            width: 100%;
            -ms-flex: 1 0;
            -webkit-flex: 1 0;
            flex: 1 0;
            
            > .category{
                font-size: em(11);
                font-weight: bold;
                color: #8a8b93;
                display: block;
                line-height: 1;
                margin-bottom: 7px;
                @media screen and (max-width: $sm-break){
                    font-size: em(22);
                    // margin-bottom:5px;
                    text-transform:none;
                }
            }

            > h2{
                font-weight: 700;
                font-size: em(22);
                height: 55px;
                overflow: hidden;
                text-overflow: ellipsis;
                @media screen and (max-width: $sm-break){
                    font-size: em(20);
                }



            }

            > p {
                display:none;
            }

            > .author{
                display: none;
            }

            > time{
                padding: 0;
                border: 0;
                line-height: 1;
                float: left;
                color: #f73d30;
                font-size: em(12);
            }
        }

    }
}