.site-header-extra-padding {
    padding-top: 407px !important;
}

.showMenuPanel {

    top:0 !important;
    left:0;
    right:0;
}

.branding-bottom-fixed {
    display:block;
    width:100%;
    padding:0;
    position: fixed;
    top: 0;
    z-index: 100000;
    background: white;

}

.site-header {
    background:white;

    padding-top: 44px;
    @media screen and (max-width: $sm-break){
        padding-top: 0;
    }
    // @media screen and (max-width: $mobile-break){
    //     position: fixed;
    //     top:0;
    //     width: 100%;
    //     background: #FFF;
    //     z-index: 100;
    // }
    .site-branding-top{

        .social-links{
            a {
                color: $gray-base;
            }
            .logedin {
                margin-left:20px;
            }
        }

        .secondary-menu{
            > ul {
                @extend %ulmenu;
                font-size: em(14);
                font-weight: 600;

                li{
                    margin-right: 20px;
                    a {
                        color:#8a8b93;
                    }
                }
            }
        }

        .section-right{
            padding-top: 10px;
            margin-right: 0;
            @media screen and (min-width: $header-break){
                // width: 895px;
            }
        }

        @media screen and (max-width: $sm-break){
            display: none;
        }
    
        .rooms-link{
            float: right;
            padding-top: 20px;
            margin-left: -30px;
            
            @media screen and (max-width: $header-break){
                display: none;
            }

            > ul{
                @extend %ulmenu;

                li{
                    a{
                        display: block;
                        margin-left: 30px;

                        img{
                            height: 20px;
                            width: auto;
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        &.foldaway {
            border-bottom:1px solid #6c6c6c;
            border-top:1px solid #6c6c6c;
            margin-top:50px;


            .rooms-link{
                float: none;
                padding-top: 0;
                margin-left: 0;
            }


            .press-patron {
                display:none;
            }

            .section-left {
                padding-top:10px;
            }

            .section-right {
                width:auto;
            }


            .social-links{
                display:inline-block;
                
            }
            
            .secondary-menu {
                display:inline-block;

                > ul > li > a {
                    color:#6c6c6c;
                    font-weight:normal;

                }

            }
        }

    }






    .site-branding-bottom{
        padding-top: 30px;
        padding-bottom: 60px;

        @media screen and (max-width: $sm-break){
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .section-right{
            padding-top:10px;
            @media screen and (min-width: $header-break){
                padding-left: 0;
                // padding-right: 0;
                float: right;
                margin-left: 0;
                // margin-right: 15px;
            }
            > .sb-custom-menu{
                border-top: solid 4px #000000;

                @media screen and (max-width: $header-break){
                    border: 0;
                }
            }
        }
        .navbar-brand{
            padding: 0;
            height: auto;

            .main-logo{
                max-width:400px;
                height: 61px;

                @media screen and (max-width: $sm-break){
                    display: none;
                }
            }

            .mobile-logo{
                display: none;
                @media screen and (max-width: $sm-break){
                    display: block;
                    width: 63px;
                }
            }
        }
        &.foldaway {
            color:#6c6c6c;
            padding:0;
            padding-top:10px;
            // border:1px solid green;

            .sb-custom-menu{

                @media (max-width: 1370px){
                    
                    > ul{
                        display:block;
                        
                        > li {
                            width: auto;
                            float: none;
                            display: inline-block;
                            border: none;
                        }

                    }
                }


                border-top: none;
                text-align: right;

                a {
                    text-transform:none;
                    color:#6c6c6c;
                    font-weight: normal;
                }
            }
        }
    }


        


    .site-branding-bottom-foldaway {
        @include transition(100000s);
        background:white;
        position:fixed;
        top:-60px;
        right:0;
        padding:10px 0 5px 0;
        margin:0;
        width:100%;
        border-bottom: solid 1px #6c6c6c;
        z-index:2147483647;
        
        .navbar-brand{
            padding:0;
            height:auto;

            .mobile-logo{
                display: block;
                width: 63px;
            }
        }

        .sb-custom-menu-foldaway {
            float:right;
            .menu-mobile{
                display: block;
                width: 95px;
                background-image: url(../images/mobile-menu.svg);
                background-size: 45px 30px;
                background-position: right;
                background-repeat: no-repeat;
                padding: 5px 0;
                color: #f73d30;
            }
        }

    }

}