{% set networkData = _Network.getNetworkData() %}

    <main id="main" class="site-main" role="main">
        <article class="article-main">
            <div class="container">
                <div class="content about">
                    <h1 class="aboutpage">Supporters</h1>
                    <p>
Newsroom exists to serve New Zealanders by being an independent media voice producing quality, agenda-setting journalism that is valuable to our democracy. To help us achieve this, we are supported by a team of forward-thinking, community-conscious corporate and academic partners who understand the value of independent journalism to all New Zealanders.
                    </p>
                    <p>
Your voluntary donations will also support Newsroom in our work. To make this easy, we are working with another New Zealand startup that puts quality journalism first: PressPatron.
                    </p>
                    <p>
PressPatron is a Wellington-based payment processing service that makes it simple for anyone to support the journalism and blog sites on their network. Newsroom is the second site to partner with PressPatron, which is still in a launch phase and making refinements to its service as it gathers feedback from partners like us.
                    </p>
                    <p>
If the idea of supporting Newsroom financially appeals to you, you have the option of making a single-shot or monthly contribution. Click the site banner at the top of your screen to get started.
                    </p>
                    <p>
Thank you for your support.
                    </p>
                </div>
            </div><!-- .container -->
        </article><!-- .article-main -->
    </main><!-- .site-main -->
